.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

a {
  max-width: 100%;
  word-break: break-word;
}

.nes-btn {
  cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAzElEQVRYR+2X0Q6AIAhF5f8/2jYXZkwEjNSVvVUjDpcrGgT7FUkI2D9xRfQETwNIiWO85wfINfQUEyxBG2ArsLwC0jioGt5zFcwF4OYDPi/mBYKm4t0U8ATgRm3ThFoAqkhNgWkA0jJLvaOVSs7j3qMnSgXWBMiWPXe94QqMBMBc1VZIvaTu5u5pQewq0EqNZvIEMCmxAawK0DNkay9QmfFNAJUXfgGgUkLaE7j/h8fnASkxHTz0DGIBMCnBeeM7AArpUd3mz2x3C7wADglA8BcWMZhZAAAAAElFTkSuQmCC) 14 0, pointer !important; /* needed to bring over from css */
}

.headerCenter {
  text-align: center;
}

.detail-desc {
  margin-left: 35px;
}

.card {
  max-height: 450px !important;
  overflow: scroll;
}

/* .mainCard {
  max-height: 500px !important;
} */

.gameNameSuggestion {
  word-break: break-all;
}

.jumbotron {
  height: 500px !important;
  background-image: linear-gradient(indigo, silver);
}

.suggested-games {
  list-style-type: none;
  width: 77.75%;
  /* background-color: silver; */
  overflow-y: scroll;
  height: 225px;
  z-index: 1000;
  position: absolute;
  top: 275px;
  left: 108px;
}

.search-games {
  width: 75%;
  top: 220px;
  position: absolute;
}

.jumbo-img {
  width: 100%;
  height: 400px;
}

.title span {
  color: white;
  background-color: black;
  position: absolute;
  top: 185px;
  font-size: 45px;
  max-width: 60%;
}

.dv-star-rating {
  top: 9px;
  /* position: relative; */
}

.dv-star-rating-full-star {
  color: #ebe527 !important;
}

.search-games-sm {
  position: absolute;
  top: 0px;
  float: right;
  right: 0px;
  z-index:100;
  width: 375px;
}

.suggested-games-small {
  position: absolute;
  top: 30px;
  right: 0px;
  width: 375px;
  height: 325px;
  overflow-y: scroll;
  list-style: none;
  z-index: 1000;
}

.game-video {
  position: relative;
  left: 20%;
  top: 0px;
  height: 400px;
}

.game-card {
  margin-bottom: 10px;
}

.no-score {
  display: none;
}