.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.tagBtn {
  cursor: default !important;
}

.headerCenter {
  text-align: center;
}

.detail-desc {
  padding-left: 35px;
}

.card {
  max-height: 450px !important;
}

/* .mainCard {
  max-height: 500px !important;
} */

.gameNameSuggestion {
  word-break: break-all;
}

.jumbotron {
  height: 500px !important;
  background-image: linear-gradient(indigo, silver);
}

.suggested-games {
  list-style-type: none;
  width: 55%;
  /* background-color: silver; */
  overflow-y: scroll;
  height: 225px;
  z-index: 1000;
  position: absolute;
  top: 250px;;
}

.search-games {
  width: 75%;
  top: 220px;
  position: absolute;
}

.jumbo-img {
  width: 100%;
  height: 400px;
}

.title span {
  color: white;
  background-color: black;
  position: absolute;
  top: 225px;
  font-size: 55px;
}